In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [1]:
df_final_demo = pd.read_csv('df_final_demo.txt', sep=',')  
df_final_demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [3]:
df_final_exp_clients = pd.read_csv('df_final_experiment_clients.txt', sep=',')  
df_final_exp_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [5]:
df_final_web_data_pt1 = pd.read_csv('df_final_web_data_pt_1.txt', sep=',')  
df_final_web_data_pt1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [7]:
df_final_web_data_pt2 = pd.read_csv('df_final_web_data_pt_2.txt', sep=',')  
df_final_web_data_pt2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [11]:
df_final_exp_clients.to_csv('df_final_exp_clients.csv', index=False)
df_final_demo.to_csv('df_final_demo.csv', index=False)
df_final_web_data_pt2.to_csv('df_final_web_data_pt2.csv', index=False)
df_final_web_data_pt1.to_csv('df_final_web_data_pt1.csv', index=False)

In [15]:
# Load the two parts of the final web data
file_path_pt1 = 'df_final_web_data_pt1.csv'
file_path_pt2 = 'df_final_web_data_pt2.csv'

df_pt1 = pd.read_csv(file_path_pt1)
df_pt2 = pd.read_csv(file_path_pt2)

# Merge the two parts into one dataframe
df_final_web_data_merged = pd.concat([df_pt1, df_pt2], ignore_index=True)

# Display the structure of the final web data merged dataframe
df_final_web_data_merged.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [17]:
# Save the final web data merged dataframe
df_final_web_data_merged.to_csv('df_final_web_data_merged.csv', index=False)

In [29]:
#Start of cleaning
# Reload the datasets
df_demo = pd.read_csv('df_final_demo.csv')
df_exp_clients = pd.read_csv('df_final_exp_clients.csv')
df_web_data = pd.read_csv('df_final_web_data_merged.csv')

# Initial inspection of the datasets for missing values and data types
df_demo_info = df_demo.info()
df_demo_missing = df_demo.isnull().sum()

df_exp_clients_info = df_exp_clients.info()
df_exp_clients_missing = df_exp_clients.isnull().sum()

df_web_data_info = df_web_data.info()
df_web_data_missing = df_web_data.isnull().sum()

(df_demo_info, df_demo_missing, df_exp_clients_info, df_exp_clients_missing, df_web_data_info, df_web_data_missing)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB

(None,
 client_id            0
 clnt_tenure_yr      14
 clnt_tenure_mnth    14
 clnt_age            15
 gendr               14
 num_accts           14
 bal                 14
 calls_6_mnth        14
 logons_6_mnth       14
 dtype: int64,
 None,
 client_id        0
 Variation    20109
 dtype: int64,
 None,
 client_id       0
 visitor_id      0
 visit_id        0
 process_step    0
 date_time       0
 dtype: int64)

In [44]:
# Initial inspection of the datasets for missing values and data types
df_demo_info = df_demo.info()
df_demo_missing = df_demo.isnull().sum()
df_demo_missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [46]:
df_exp_clients_info = df_exp_clients.info()
df_exp_clients_missing = df_exp_clients.isnull().sum()
df_exp_clients_missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

client_id        0
Variation    20109
dtype: int64

In [52]:
df_web_data_info = df_web_data.info()
df_web_data_missing = df_web_data.isnull().sum()
df_web_data_missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [48]:
#drop rows with missing values in tenure, age, gender
df_demo_cleaned = df_demo.dropna(subset=['clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr'])

In [50]:
df_demo_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70594 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70594 non-null  int64
 1   clnt_tenure_yr    70594 non-null  float64
 2   clnt_tenure_mnth  70594 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70594 non-null  object
 5   num_accts         70594 non-null  float64
 6   bal               70594 non-null  float64
 7   calls_6_mnth      70594 non-null  float64
 8   logons_6_mnth     70594 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 5.4+ MB

In [39]:
df_demo_cleaned_missing = df_demo_cleaned.isnull().sum()

df_demo_cleaned_missing

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [54]:
#drop row with null variation
df_exp_clients_cleaned = df_exp_clients.dropna(subset=['Variation'])

In [56]:
df_exp_clients_cleaned.isnull().sum()

client_id    0
Variation    0
dtype: int64

In [58]:
#convert date_time column from string to date format
df_web_data['date_time'] = pd.to_datetime(df_web_data['date_time'])

In [60]:
df_web_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 28.8+ MB

In [64]:
# Mergeing Cleaned Data based on client_id into one csv
# Merge demographic and experiment data
df_merged = pd.merge(df_demo_cleaned, df_exp_clients_cleaned, on='client_id', how='inner')

# Merge the result with web data
df_final = pd.merge(df_merged, df_web_data, on='client_id', how='inner')

In [66]:
# Verify the merged dataset
df_final_info = df_final.info()
df_final_missing = df_final.isnull().sum()

(df_final_info, df_final_missing)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321195 entries, 0 to 321194
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321195 non-null  int64
 1   clnt_tenure_yr    321195 non-null  float64
 2   clnt_tenure_mnth  321195 non-null  float64
 3   clnt_age          321195 non-null  float64
 4   gendr             321195 non-null  object
 5   num_accts         321195 non-null  float64
 6   bal               321195 non-null  float64
 7   calls_6_mnth      321195 non-null  float64
 8   logons_6_mnth     321195 non-null  float64
 9   Variation         321195 non-null  object
 10  visitor_id        321195 non-null  object
 11  visit_id          321195 non-null  object
 12  process_step      321195 non-null  object
 13  date_time         321195 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 34.3+ MB

(None,
 client_id           0
 clnt_tenure_yr      0
 clnt_tenure_mnth    0
 clnt_age            0
 gendr               0
 num_accts           0
 bal                 0
 calls_6_mnth        0
 logons_6_mnth       0
 Variation           0
 visitor_id          0
 visit_id            0
 process_step        0
 date_time           0
 dtype: int64)

In [68]:
# Save the merged cleaned dataset
df_final.to_csv('df_final.csv', index=False)